<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gai xinh chon loc pha ke</title>
</head>
<h1>hello!!!</h1>
<% data.forEach(el => { %>
    <a href="<%= el.high %> " target="_blank" rel="noopener noreferrer">
        <img src="<%= el.low %> " alt="anh">
    </a>
    <% }); %>

        <body>

        </body>

</html>